
SECRET_KEY = 'Tu_secret_key'
DEBUG = True
ALLOWED_HOST = 127.0.0.1, localhost

# confing database
BD_NAME = 'tu_db_name'
BD_USER = 'tu_db_user'
BD_PASSWORD = 'tu_db_password'
BD_HOST = 'tu_db_host'
BD_PORT = 'tu_db_port'
